In [6]:
import lkml as looker
from pprint import pprint
from google.oauth2 import service_account
import pandas_gbq
from contextlib import redirect_stdout
import snowflake.connector
from sqlalchemy import create_engine
from snowflake.sqlalchemy import URL
import pandas as pd
import pandas
import os
import json
import sys
import yaml

from droughty import warehouse_target
from droughty import config

import git

pd.options.mode.chained_assignment = None

credentials = config.service_account

warehouse_name = config.warehouse_name
lookml_project = config.project_name

dimensional_inference_status = warehouse_target.dimensional_inference
sql = warehouse_target.warehouse_schema
explore_sql = warehouse_target.explore_sql

if warehouse_name == 'big_query':

    # Run a Standard SQL query with the project set explicitly
    project_id = lookml_project
    df = pandas.read_gbq(sql, dialect='standard', project_id=lookml_project, credentials=credentials)

    df['description'] = df['description'].fillna('not available')

    df1 = df[['table_name','column_name','data_type','description']]

    df1['data_type'] = df1['data_type'].str.replace('TIMESTAMP','timestamp')
    df1['data_type'] = df1['data_type'].str.replace('DATE','date')
    df1['data_type'] = df1['data_type'].str.replace('INT64','number')
    df1['data_type'] = df1['data_type'].str.replace('FLOAT64','number')
    df1['data_type'] = df1['data_type'].str.replace('NUMERIC','number')
    df1['data_type'] = df1['data_type'].str.replace('STRING','string')
    df1['data_type'] = df1['data_type'].str.replace('BOOL','yesno')

    df2 = df1

    explore_df = pandas.read_gbq(explore_sql, dialect='standard', project_id=lookml_project, credentials=credentials)

    explore_df_2 = explore_df[['parent_table_name','pk_table_name', 'pk_column_name','fk_table_name','fk_column_name','looker_relationship']]

    pk_table_name_df = explore_df[['pk_table_name']]

    duplicate_explore_rows = pk_table_name_df[pk_table_name_df.duplicated(['pk_table_name'])]

    distinct_duplicate_explore_rows = duplicate_explore_rows['pk_table_name'].drop_duplicates().to_list()

    df4 = {n: grp.loc[n].to_dict('index')
        
    for n, grp in explore_df.set_index(['parent_table_name','pk_table_name', 'pk_column_name','fk_table_name','fk_column_name','looker_relationship']).groupby(level='parent_table_name')}

    d2 = df4

    def recur_dictify(frame):
        if len(frame.columns) == 1:
            if frame.values.size == 1: return frame.values[0][0]
            return frame.values.squeeze()
        grouped = frame.groupby(frame.columns[0])
        d = {k: recur_dictify(g.iloc[:,1:]) for k,g in grouped}
        return d

elif warehouse_name == 'snowflake': 

    url = URL(

        account = config.snowflake_account,
        user =  config.snowflake_user,
        schema =  config.snowflake_schema,
        database =  config.snowflake_database,
        password =  config.snowflake_password,
        warehouse= config.snowflake_warehouse,
        role =  config.snowflake_role

    )

    engine = create_engine(url)

    connection = engine.connect()

    explore_df = pd.read_sql(explore_sql, connection)

    explore_df_2 = explore_df[['parent_table_name','pk_table_name', 'pk_column_name','fk_table_name','fk_column_name','looker_relationship']]

    pk_table_name_df = explore_df[['pk_table_name']]

    duplicate_explore_rows = pk_table_name_df[pk_table_name_df.duplicated(['pk_table_name'])]

    distinct_duplicate_explore_rows = duplicate_explore_rows['pk_table_name'].drop_duplicates().to_list()

    connection.close()
    engine.dispose()

    df4 = {n: grp.loc[n].to_dict('index')
        
    for n, grp in explore_df.set_index(['parent_table_name','pk_table_name', 'pk_column_name','fk_table_name','fk_column_name','looker_relationship']).groupby(level='parent_table_name')}

    d2 = df4

    def recur_dictify(frame):
        if len(frame.columns) == 1:
            if frame.values.size == 1: return frame.values[0][0]
            return frame.values.squeeze()
        grouped = frame.groupby(frame.columns[0])
        d = {k: recur_dictify(g.iloc[:,1:]) for k,g in grouped}
        return d

In [7]:
df4

{}

In [8]:
d2

{}

In [9]:
explore_df_2

Empty DataFrame
Columns: [parent_table_name, pk_table_name, pk_column_name, fk_table_name, fk_column_name, looker_relationship]
Index: []

In [10]:
explore_sql

'\n                with source as (\n                select \n                *\n                from "ANALYTICS"."INFORMATION_SCHEMA"."COLUMNS"\n                where table_name in \n                (\'WH_PLATFORM__INVOICES_FACT\',\'WH_PLATFORM__VEHICLES_DIM\',\'WH_PLATFORM__POLICIES_FACT\')\n                ),\n                \n                explore_table_row_count_WH_PLATFORM__INVOICES_FACT as (\n                select \n                \'WH_PLATFORM__INVOICES_FACT\' as table_name,\n                count(*) as row_count\n                from "ANALYTICS"."DBT_ALARIC"."WH_PLATFORM__INVOICES_FACT"\n                group by 1\n                ),\n                \n                explore_table_row_count_WH_PLATFORM__VEHICLES_DIM as (\n                select \n                \'WH_PLATFORM__VEHICLES_DIM\' as table_name,\n                count(*) as row_count\n                from "ANALYTICS"."DBT_ALARIC"."WH_PLATFORM__VEHICLES_DIM"\n                group by 1\n                ),\n                \n                explore_table_row_count_WH_PLATFORM__POLICIES_FACT as (\n                select \n                \'WH_PLATFORM__POLICIES_FACT\' as table_name,\n                count(*) as row_count\n                from "ANALYTICS"."DBT_ALARIC"."WH_PLATFORM__POLICIES_FACT"\n                group by 1\n                ),\n                \n                merge_counts as (\n                \n                select * from explore_table_row_count_WH_PLATFORM__INVOICES_FACT\n                union all\n                \n                select * from explore_table_row_count_WH_PLATFORM__VEHICLES_DIM\n                union all\n                \n                select * from explore_table_row_count_WH_PLATFORM__POLICIES_FACT\n                \n                \n                ),\n                pks as (\n                    select \n                    table_name as pk_table_name,\n                    column_name as pk_column_name,\n                    trim(column_name, \'_pk\') as pk_sk\n                    from source\n                    where column_name like \'%pk%\'\n                ),\n                fks as (\n                    select\n                    table_name as fk_table_name,\n                    column_name as fk_column_name,\n                    trim(column_name, \'_fk\') as fk_sk\n                    from source\n                    where column_name like \'%fk%\'\n                )\n                select \n                \'WH_PLATFORM__INVOICES_FACT\' as parent_table_name,\n                pk_table_name,\n                pk_column_name,\n                fk_table_name,\n                fk_column_name,\n                merge_counts_pk.row_count as pk_row_count,\n                merge_counts_fk.row_count as fk_row_count,\n                merge_counts_parent.row_count as parent_row_count,\n                case when merge_counts_pk.row_count > merge_counts_fk.row_count\n                        then \'many_to_one\'   \n                    when merge_counts_pk.row_count < merge_counts_fk.row_count\n                        then \'one_to_many\'\n                    when merge_counts_pk.row_count = merge_counts_fk.row_count\n                        then \'one_to_one\'\n                end as true_relationship,\n                case when merge_counts_pk.row_count < merge_counts_parent.row_count\n                    and merge_counts_fk.row_count < merge_counts_parent.row_count\n                    or  merge_counts_pk.row_count != merge_counts_parent.row_count\n                    and  merge_counts_fk.row_count != merge_counts_parent.row_count\n                        then \'many_to_one\'\n                    when merge_counts_pk.row_count > merge_counts_parent.row_count\n                        then \'one_to_many\'\n                    when merge_counts_fk.row_count > merge_counts_parent.row_count\n                        then \'one_to_many\'\n                    when merge_counts_pk.row_count = merge_counts_parent.row_count\n                    or merge_counts_fk.row_count = merge_counts_parent.row_count\n                        then \'one_to_one\'                \n                        \n                end as looker_relationship\n                    \n                    \n                \n                \n                from pks\n                inner join fks on pks.pk_sk = fks.fk_sk\n                left join merge_counts as merge_counts_fk on merge_counts_fk.table_name = fks.fk_table_name\n                left join merge_counts as merge_counts_pk on merge_counts_pk.table_name = pks.pk_table_name\n                left join merge_counts as merge_counts_parent on merge_counts_parent.table_name = \'WH_PLATFORM__INVOICES_FACT\'\n                order by looker_relationship\n                '