In [3]:
import yaml

with open('example.yaml', 'r') as file:

    prime_service = yaml.safe_load(file)

In [4]:
with open('example.yaml', 'r') as f:
    droughty_project = yaml.load(f, Loader=yaml.FullLoader)

In [5]:
prime_service

{'profile': 'snowflake_demo_olivier',
 'field_description_path': 'warehouse_docs',
 'field_description_file_name': 'field_descriptions.md',
 'test_schemas': ['analytics_qa',
  'analytics_staging',
  'analytics_integration'],
 'dbml_schemas': ['analytics_qa',
  'analytics_staging',
  'analytics_integration'],
 'lookml_pop': {'views': {'example_1': {'date_dimensions': ['example_2']},
   'example_3': {'date_dimensions': ['example_4', 'example_5']}}}}

In [6]:
print(prime_service['lookml_pop']['views'])

{'example_1': {'date_dimensions': ['example_2']}, 'example_3': {'date_dimensions': ['example_4', 'example_5']}}

In [7]:
test = prime_service['lookml_pop']['views']

In [8]:
test

{'example_1': {'date_dimensions': ['example_2']},
 'example_3': {'date_dimensions': ['example_4', 'example_5']}}

In [9]:
type(test)

dict

In [12]:
prime_service.get("lookml_pop")

{'views': {'example_1': {'date_dimensions': ['example_2']},
  'example_3': {'date_dimensions': ['example_4', 'example_5']}}}

In [15]:
prime_service['lookml_pop']['views']

{'example_1': {'date_dimensions': ['example_2']},
 'example_3': {'date_dimensions': ['example_4', 'example_5']}}

In [18]:
d = prime_service.get("lookml_pop")

In [27]:
d

{'views': {'example_1': {'date_dimensions': ['example_2']},
  'example_3': {'date_dimensions': ['example_4', 'example_5']}}}

In [28]:
import pandas as pd 
df = pd.DataFrame.from_dict(d, orient='index')

In [29]:
df

,example_1,example_3
views,{'date_dimensions': ['example_2']},"{'date_dimensions': ['example_4', 'example_5']}"

In [31]:
pd.DataFrame.from_dict(d, orient='index',
                       columns=['views', 'date_dimensions'])

Empty DataFrame
Columns: [views, date_dimensions]
Index: []

In [32]:
df = pd.DataFrame.from_dict(d)

In [33]:
df

                                                     views
example_1               {'date_dimensions': ['example_2']}
example_3  {'date_dimensions': ['example_4', 'example_5']}

In [34]:
df.explode('views')

                     views
example_1  date_dimensions
example_3  date_dimensions

In [35]:
df

                                                     views
example_1               {'date_dimensions': ['example_2']}
example_3  {'date_dimensions': ['example_4', 'example_5']}

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, example_1 to example_3
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   views   2 non-null      object
dtypes: object(1)
memory usage: 32.0+ bytes

In [40]:
df2 = pd.json_normalize(d)

In [41]:
df2

  views.example_1.date_dimensions views.example_3.date_dimensions
0                     [example_2]          [example_4, example_5]

In [49]:
df3 = pd.DataFrame.from_dict(d, orient='columns')

In [50]:
df3

                                                     views
example_1               {'date_dimensions': ['example_2']}
example_3  {'date_dimensions': ['example_4', 'example_5']}

In [51]:
df4 = pd.json_normalize(df3)

In [65]:
import pandas as pd
import json

json_struct = json.loads(df3.to_json(orient="columns"))    
df_flat = pd.io.json.json_normalize(json_struct) #use pd.io.json

/var/folders/qj/lbqph1rd0mvbl2g1l310_5nr0000gn/T/ipykernel_67174/693855465.py:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df_flat = pd.io.json.json_normalize(json_struct) #use pd.io.json

In [66]:
df_flat

  views.example_1.date_dimensions views.example_3.date_dimensions
0                     [example_2]          [example_4, example_5]