In [8]:
import os
import yaml

from google.oauth2 import service_account
import os
import yaml
import git

from jinjasql import JinjaSql
from six import string_types
from copy import deepcopy

from droughty import config

environment_project = config.environment_project
lookml_config = config.lookml_config
warehouse_name = config.warehouse_name

for key,value in environment_project.items():
    
    if key == 'profile':

        if warehouse_name == 'big_query':

            if value in lookml_config:

        ## global vars 

                project_name =  config.project_name
                schema_name =  config.schema_name
                test_schemas = config.test_schemas
                
                warehouse_schema =   """
                with source as (
                    select * from `{0}.{1}.INFORMATION_SCHEMA.COLUMN_FIELD_PATHS`
                    )
                    select * from source
                """.format(project_name,schema_name)

                dbml_reference_dict = """
                with source as (
                select * from `{0}.{1}.INFORMATION_SCHEMA.COLUMN_FIELD_PATHS`
                ),
                    pks as (
                    select 
                    table_name as pk_table_name,
                    column_name as pk_column_name,
                    trim(column_name, "_pk") as pk_sk,
                    from source
                    where column_name like '%pk%'
                    ),
                    fks as (
                    select
                    table_name as fk_table_name,
                    column_name as fk_column_name,
                    trim(column_name, "_fk") as fk_sk,
                    from source
                    where column_name like '%fk%'
                    ),
                    references as (
                    select * from pks
                    inner join fks on pks.pk_sk = fks.fk_sk
                    )
                    select 
                    
                    *except (pk_column_name,pk_table_name),
                    case when pk_column_name is null
                        then 'not_available'
                    else pk_column_name
                    end as pk_column_name,
                    case when pk_table_name is null
                        then 'not_available'
                    else pk_table_name
                    end as pk_table_name                   
                    from source
                    left join references on source.column_name = references.fk_column_name and references.fk_table_name = source.table_name
                
                """.format(project_name,schema_name)

                lookml_explore_schema = '''
                with source as (
                select 
                *
                from `{{project_id}}.{{schema_id}}.INFORMATION_SCHEMA.COLUMN_FIELD_PATHS`
                where table_name in 
                {{ table_names |inclause }}
                ),
                {% for value in table_names_unqouted  %}
                explore_table_row_count_{{ value | sqlsafe }} as (
                select 
                '{{ value | sqlsafe }}' as table_name,
                count(*) as row_count
                from `{{project_id}}.{{schema_id}}.{{ value | sqlsafe }}`
                group by 1
                ),
                {% endfor %}
                merge_counts as (
                {% for value in table_names_unqouted  %}
                select * from explore_table_row_count_{{ value | sqlsafe }}
                {% if not loop.last %}union all{% endif %}
                {% endfor %}
                ),
                pks as (
                    select 
                    table_name as pk_table_name,
                    column_name as pk_column_name,
                    trim(column_name, "_pk") as pk_sk,
                    from source
                    where column_name like '%%pk%%'
                ),
                fks as (
                    select
                    table_name as fk_table_name,
                    column_name as fk_column_name,
                    trim(column_name, "_fk") as fk_sk,
                    from source
                    where column_name like '%%fk%%'
                )
                select 
                {{ table_names [0] }} as parent_table_name,
                pk_table_name,
                pk_column_name,
                fk_table_name,
                fk_column_name,
                merge_counts_pk.row_count as pk_row_count,
                merge_counts_fk.row_count as fk_row_count,
                merge_counts_parent.row_count as parent_row_count,
                case when merge_counts_pk.row_count > merge_counts_fk.row_count
                        then 'many_to_one'   
                    when merge_counts_pk.row_count < merge_counts_fk.row_count
                        then 'one_to_many'
                    when merge_counts_pk.row_count = merge_counts_fk.row_count
                        then 'one_to_one'
                end as true_relationship,
                case when merge_counts_pk.row_count < merge_counts_parent.row_count
                    and merge_counts_fk.row_count < merge_counts_parent.row_count
                    or  merge_counts_pk.row_count != merge_counts_parent.row_count
                    and  merge_counts_fk.row_count != merge_counts_parent.row_count
                        then 'many_to_one'
                    when merge_counts_pk.row_count > merge_counts_parent.row_count
                        then 'one_to_many'
                    when merge_counts_fk.row_count > merge_counts_parent.row_count
                        then 'one_to_many'
                    when merge_counts_pk.row_count = merge_counts_parent.row_count
                    or merge_counts_fk.row_count = merge_counts_parent.row_count
                        then 'one_to_one'                
                        
                end as looker_relationship,
                
                from pks
                inner join fks on pks.pk_sk = fks.fk_sk
                left join merge_counts as merge_counts_fk on merge_counts_fk.table_name = fks.fk_table_name
                left join merge_counts as merge_counts_pk on merge_counts_pk.table_name = pks.pk_table_name
                left join merge_counts as merge_counts_parent on merge_counts_parent.table_name = {{ table_names[0] }}
                order by looker_relationship
                '''

                test_warehouse_schema =   """
                with source_1 as (
                    select * from `{0}.{1}.INFORMATION_SCHEMA.COLUMNS`
                    ),
                source_2 as (
                select * from `{0}.{2}.INFORMATION_SCHEMA.COLUMNS`
                
                ),
                
                source_3 as (
                select * from `{0}.{3}.INFORMATION_SCHEMA.COLUMNS`
                
                ),
                
                unioned as (
                select * from source_1
                
                union all
                
                select * from source_2
                
                union all
                
                select * from source_3
                
                )
                select * from unioned
                """.format(project_name,test_schemas[0],test_schemas[1],test_schemas[2])

                cube_explore_schema = '''
                with source as (
                select 
                *
                from `{{project_id}}.{{schema_id}}.INFORMATION_SCHEMA.COLUMN_FIELD_PATHS`
                ),
                row_counts as (
                select
                    table_id as table_name,
                    row_count
                from `{{project_id}}.{{schema_id}}.__TABLES__`
                ),
                pks as (
                    select 
                    table_name as pk_table_name,
                    column_name as pk_column_name,
                    trim(column_name, "_pk") as pk_sk
                    from source
                    where column_name like '%%pk%%'
                ),
                fks as (
                    select
                    table_name as fk_table_name,
                    column_name as fk_column_name,
                    trim(column_name, "_fk") as fk_sk
                    from source
                    where column_name like '%%fk%%'
                )
                select 
                pk_table_name,
                pk_column_name,
                fk_table_name,
                fk_column_name,
                case when merge_counts_pk.row_count > merge_counts_fk.row_count
                        then 'belongsTo'   
                    when merge_counts_pk.row_count < merge_counts_fk.row_count
                        then 'hasMany'
                    when merge_counts_pk.row_count = merge_counts_fk.row_count
                        then 'HasOne'
                end as true_relationship
                
                from pks
                inner join fks on pks.pk_sk = fks.fk_sk
                left join row_counts as merge_counts_fk on merge_counts_fk.table_name = fks.fk_table_name
                left join row_counts as merge_counts_pk on merge_counts_pk.table_name = pks.pk_table_name
                '''

                test_warehouse_schema =   """
                with source_1 as (
                    select * from `{0}.{1}.INFORMATION_SCHEMA.COLUMNS`
                    ),
                source_2 as (
                select * from `{0}.{2}.INFORMATION_SCHEMA.COLUMNS`
                
                ),
                
                source_3 as (
                select * from `{0}.{3}.INFORMATION_SCHEMA.COLUMNS`
                
                ),
                
                unioned as (
                select * from source_1
                
                union all
                
                select * from source_2
                
                union all
                
                select * from source_3
                
                )
                select * from unioned
                """.format(project_name,test_schemas[0],test_schemas[1],test_schemas[2])

        elif warehouse_name == 'snowflake':
            
            if value in lookml_config:

                schema_name =  config.schema_name
                test_schemas = config.test_schemas
                database = config.snowflake_database

                warehouse_schema =   """
                with source as (
                    select * from "{0}"."INFORMATION_SCHEMA"."COLUMNS"
                    )
                    select * from source

                    where table_schema = '{1}'
                """.format(database,schema_name)

                dbml_reference_dict = """
                with source as (
                select * from "{0}"."INFORMATION_SCHEMA"."COLUMNS"
                where table_schema = '{1}'

                ),
                    pks as (
                    select 
                    table_name as pk_table_name,
                    column_name as pk_column_name,
                    rtrim(column_name, '_pk') as pk_sk
                    from source
                    where column_name like '%PK%'
                    ),
                    fks as (
                    select
                    table_name as fk_table_name,
                    column_name as fk_column_name,
                    rtrim(column_name, '_fk') as fk_sk
                    from source
                    where column_name like '%FK%'
                    ),
                    references as (
                    select * from pks
                    inner join fks on pks.pk_sk = fks.fk_sk
                    )
                    select 
                    

                    source.data_type,
                    source.table_name,
                    source.column_name,
                    source.comment,

                    case when pk_column_name is null
                        then 'not_available'
                    else pk_column_name
                    end as pk_column_name,
                    case when pk_table_name is null
                        then 'not_available'
                    else pk_table_name
                    end as pk_table_name                   
                    from source
                    left join references on source.column_name = references.fk_column_name and references.fk_table_name = source.table_name
                
                """.format(database,schema_name)

                lookml_explore_schema = '''
                with source as (
                select 
                *
                from "{{database}}"."INFORMATION_SCHEMA"."COLUMNS"
                where table_name in 
                {{ table_names |inclause }}
                
                ),
                
                {% for value in table_names_unqouted  %}
                explore_table_row_count_{{ value | sqlsafe }} as (
                select 
                '{{ value | sqlsafe }}' as table_name,
                count(*) as row_count
                from "{{database}}"."{{schema_id}}"."{{ value | sqlsafe }}"
                group by 1
                
                ),
                
                {% endfor %}
                merge_counts as (
                {% for value in table_names_unqouted  %}
                select * from explore_table_row_count_{{ value | sqlsafe }}
                {% if not loop.last %}union all{% endif %}
                {% endfor %}
                
                ),
                
                pks as (
                    select 
                    table_name as pk_table_name,
                    column_name as pk_column_name,
                    rtrim(column_name, '_PK') as pk_sk
                    from source
                    where column_name ilike '%%pk%%'
                ),
                fks as (
                    select
                    table_name as fk_table_name,
                    column_name as fk_column_name,
                    rtrim(column_name, '_FK') as fk_sk
                    from source
                    where column_name ilike '%%fk%%'
                ),
                
                joined as (
                select 
                {{ table_names [0] }} as parent_table_name,
                pk_table_name,
                pk_column_name,
                fk_table_name,
                fk_column_name,
                merge_counts_pk.row_count as pk_row_count,
                merge_counts_fk.row_count as fk_row_count,
                merge_counts_parent.row_count as parent_row_count,
                case when merge_counts_pk.row_count > merge_counts_fk.row_count
                        then 'many_to_one'   
                    when merge_counts_pk.row_count < merge_counts_fk.row_count
                        then 'one_to_many'
                    when merge_counts_pk.row_count = merge_counts_fk.row_count
                        then 'one_to_one'
                end as true_relationship,
                case when merge_counts_pk.row_count < merge_counts_parent.row_count
                    and merge_counts_fk.row_count < merge_counts_parent.row_count
                    or  merge_counts_pk.row_count != merge_counts_parent.row_count
                    and  merge_counts_fk.row_count != merge_counts_parent.row_count
                        then 'many_to_one'
                    when merge_counts_pk.row_count > merge_counts_parent.row_count
                        then 'one_to_many'
                    when merge_counts_fk.row_count > merge_counts_parent.row_count
                        then 'one_to_many'
                    when merge_counts_pk.row_count = merge_counts_parent.row_count
                    or merge_counts_fk.row_count = merge_counts_parent.row_count
                        then 'one_to_one'                
                        
                end as looker_relationship
                    
                    
                
                
                from pks
                join fks on pks.pk_sk = fks.fk_sk
                left join merge_counts as merge_counts_fk on merge_counts_fk.table_name = fks.fk_table_name
                left join merge_counts as merge_counts_pk on merge_counts_pk.table_name = pks.pk_table_name
                left join merge_counts as merge_counts_parent on merge_counts_parent.table_name = {{ table_names[0] }}
                order by looker_relationship
                
                )
                
                select * from joined
                
                '''

                cube_explore_schema = '''
                with source as (
                select 
                *
                from "{0}"."INFORMATION_SCHEMA"."COLUMNS"
                ),
                row_counts as (
                select
                    table_name,
                    sum(row_count) as row_count
                from "{0}"."INFORMATION_SCHEMA"."TABLES"
                group by 1
                ),
                pks as (
                    select 
                    table_name as pk_table_name,
                    column_name as pk_column_name,
                    rtrim(column_name, '_PK') as pk_sk
                    from source
                    where column_name ilike '%pk%'
                ),
                fks as (
                    select
                    table_name as fk_table_name,
                    column_name as fk_column_name,
                    rtrim(column_name, '_FK') as fk_sk
                    from source
                    where column_name ilike '%fk%'
                )
                select 
                pk_table_name,
                pk_column_name,
                fk_table_name,
                fk_column_name,
                case when merge_counts_pk.row_count > merge_counts_fk.row_count
                        then 'belongsTo'   
                    when merge_counts_pk.row_count < merge_counts_fk.row_count
                        then 'hasMany'
                    when merge_counts_pk.row_count = merge_counts_fk.row_count
                        then 'HasOne'
                end as true_relationship
                
                from pks
                left join fks on pks.pk_sk = fks.fk_sk
                left join row_counts as merge_counts_fk on merge_counts_fk.table_name = fks.fk_table_name
                left join row_counts as merge_counts_pk on merge_counts_pk.table_name = pks.pk_table_name
                '''.format(database)

                test_warehouse_schema =   """
                with source_1 as (
                    select * from "{0}"."INFORMATION_SCHEMA"."COLUMNS"

                    where table_schema = '{1}'

                    ),

                source_2 as (
                    select * from "{0}"."INFORMATION_SCHEMA"."COLUMNS"

                    where table_schema = '{2}'

            
                ),
                
                source_3 as (
                select * from "{0}"."INFORMATION_SCHEMA"."COLUMNS"

                    where table_schema = '{3}'
                
                ),
                
                unioned as (
                select * from source_1
                
                union all
                
                select * from source_2
                
                union all
                
                select * from source_3
                
                )
                select * from unioned
                """.format(database,test_schemas[0],test_schemas[1],test_schemas[2])



explores = (environment_project.get("explores"))

dimensional_inference = (environment_project.get("dimensional_inference"))

## 

explore_tables = []

for key,value in explores.items():

    for key,value in value.items():

        explore_tables.append(value)

## reduce explore_tables from array to single list
        
single_list_tables = [i[0] for i in explore_tables]


flat_list = []
for sublist in explore_tables:
    for item in sublist:
        flat_list.append(item)
        
final_list = []
for x in flat_list:
    final_list.append("'" + x + "'")
    
join_key_list = ['merge_counts_fk','merge_counts_pk']

## add for snowflake

for key,value in environment_project.items():

    if key == 'profile':

        if warehouse_name == 'big_query':

            params = {
                'project_id': project_name,
                'schema_id': schema_name, 
                'table_names': final_list,
                'table_names_unqouted': flat_list,
                'pk_fk_join_key_list': join_key_list

            }

        elif warehouse_name == 'snowflake':

            params = {
                'database': database,
                'schema_id': schema_name, 
                'table_names': final_list,
                'table_names_unqouted': flat_list,
                'pk_fk_join_key_list': join_key_list

            }


j = JinjaSql(param_style='pyformat')

query, bind_params = j.prepare_query(lookml_explore_schema,params)

cube_query, cube_bind_params = j.prepare_query(cube_explore_schema,params)


isinstance(value, string_types)

def quote_sql_string(value):
    '''
    If `value` is a string type, escapes single quotes in the string
    and returns the string enclosed in single quotes.
    '''
    if isinstance(value, string_types):
        new_value = str(value)
        new_value = new_value.replace("'", "''")
        return "'{}'".format(new_value)
    return value

def get_sql_from_template(query, bind_params):
    if not bind_params:
        return query
    params = deepcopy(bind_params)
    for key, val in params.items():
        params[key] = quote_sql_string(val)
    return query % params

def apply_sql_template(template, parameters):
    '''
    Apply a JinjaSql template (string) substituting parameters (dict) and return
    the final SQL.
    '''
    j = JinjaSql(param_style='pyformat')
    query, bind_params = j.prepare_query(template, parameters)
    return get_sql_from_template(query, bind_params)

explore_sql = (query % bind_params)

if warehouse_name =='big_query':

    cube_explore_schema = (query % bind_params)

elif warehouse_name == 'snowflake':
    
    cube_explore_schema = cube_explore_schema

In [13]:
cube_explore_schema

'\n                with source as (\n                select \n                *\n                from "SNOWFLAKE_SAMPLE_DATA"."INFORMATION_SCHEMA"."COLUMNS"\n                ),\n                row_counts as (\n                select\n                    table_name,\n                    sum(row_count) as row_count\n                from "SNOWFLAKE_SAMPLE_DATA"."INFORMATION_SCHEMA"."TABLES"\n                group by 1\n                ),\n                pks as (\n                    select \n                    table_name as pk_table_name,\n                    column_name as pk_column_name,\n                    rtrim(column_name, \'_PK\') as pk_sk\n                    from source\n                    where column_name ilike \'%pk%\'\n                ),\n                fks as (\n                    select\n                    table_name as fk_table_name,\n                    column_name as fk_column_name,\n                    rtrim(column_name, \'_FK\') as fk_sk\n                    from source\n                    where column_name ilike \'%fk%\'\n                )\n                select \n                pk_table_name,\n                pk_column_name,\n                fk_table_name,\n                fk_column_name,\n                case when merge_counts_pk.row_count > merge_counts_fk.row_count\n                        then \'belongsTo\'   \n                    when merge_counts_pk.row_count < merge_counts_fk.row_count\n                        then \'hasMany\'\n                    when merge_counts_pk.row_count = merge_counts_fk.row_count\n                        then \'HasOne\'\n                end as true_relationship\n                \n                from pks\n                left join fks on pks.pk_sk = fks.fk_sk\n                left join row_counts as merge_counts_fk on merge_counts_fk.table_name = fks.fk_table_name\n                left join row_counts as merge_counts_pk on merge_counts_pk.table_name = pks.pk_table_name\n                '

In [18]:
import lkml as looker
from pprint import pprint
from google.oauth2 import service_account
import pandas_gbq
from contextlib import redirect_stdout
import snowflake.connector
from sqlalchemy import create_engine
from snowflake.sqlalchemy import URL
import pandas as pd
import pandas
import os
import json
import sys
import yaml

import warehouse_target
from droughty import config

import git

pd.options.mode.chained_assignment = None

credentials = config.service_account

warehouse_name = config.warehouse_name
lookml_project = config.project_name

dimensional_inference_status = warehouse_target.dimensional_inference
sql = warehouse_target.warehouse_schema
explore_sql = warehouse_target.explore_sql

if warehouse_name == 'big_query':

    # Run a Standard SQL query with the project set explicitly
    project_id = lookml_project
    df = pandas.read_gbq(sql, dialect='standard', project_id=lookml_project, credentials=credentials)

    df['description'] = df['description'].fillna('not available')

    df1 = df[['table_name','column_name','data_type','description']]

    df1['data_type'] = df1['data_type'].str.replace('TIMESTAMP','timestamp')
    df1['data_type'] = df1['data_type'].str.replace('DATE','date')
    df1['data_type'] = df1['data_type'].str.replace('INT64','number')
    df1['data_type'] = df1['data_type'].str.replace('FLOAT64','number')
    df1['data_type'] = df1['data_type'].str.replace('NUMERIC','number')
    df1['data_type'] = df1['data_type'].str.replace('STRING','string')
    df1['data_type'] = df1['data_type'].str.replace('BOOL','yesno')

    df2 = df1

    explore_df = pandas.read_gbq(explore_sql, dialect='standard', project_id=lookml_project, credentials=credentials)

    explore_df_2 = explore_df[['pk_table_name', 'pk_column_name','fk_table_name','fk_column_name','true_relationship']]

    pk_table_name_df = explore_df[['pk_table_name']]

    duplicate_explore_rows = pk_table_name_df[pk_table_name_df.duplicated(['pk_table_name'])]

    distinct_duplicate_explore_rows = duplicate_explore_rows['pk_table_name'].drop_duplicates().to_list()

    df4 = {n: grp.loc[n].to_dict('index')
        
    for n, grp in explore_df.set_index(['pk_table_name', 'pk_column_name','fk_table_name','fk_column_name','true_relationship']).groupby(level='pk_table_name')}

    d2 = df4

elif warehouse_name == 'snowflake': 

    url = URL(

        account = config.snowflake_account,
        user =  config.snowflake_user,
        schema =  config.snowflake_schema,
        database =  config.snowflake_database,
        password =  config.snowflake_password,
        warehouse= config.snowflake_warehouse,
        role =  config.snowflake_role

    )

    engine = create_engine(url)

    connection = engine.connect()

    explore_df = pd.read_sql(explore_sql, connection)

    explore_df.drop_duplicates(keep=False, inplace=True)

    explore_df_2 = explore_df[['pk_table_name', 'pk_column_name','fk_table_name','fk_column_name','true_relationship']]

    pk_table_name_df = explore_df[['pk_table_name']]

    duplicate_explore_rows = pk_table_name_df[pk_table_name_df.duplicated(['pk_table_name'])]

    distinct_duplicate_explore_rows = duplicate_explore_rows['pk_table_name'].drop_duplicates().to_list()

    df4 = {n: grp.loc[n].to_dict('index')
        
    for n, grp in explore_df.set_index(['pk_table_name', 'pk_column_name','fk_table_name','fk_column_name','true_relationship']).groupby(level='pk_table_name')}

    d2 = df4

    connection.close()
    engine.dispose()

In [19]:
explore_sql

'\n                with source as (\n                select \n                *\n                from "SNOWFLAKE_SAMPLE_DATA"."INFORMATION_SCHEMA"."COLUMNS"\n                where table_name in \n                (\'ITEM\',\'REASON\',\'STORE\')\n                \n                ),\n                \n                \n                explore_table_row_count_ITEM as (\n                select \n                \'ITEM\' as table_name,\n                count(*) as row_count\n                from "SNOWFLAKE_SAMPLE_DATA"."TPCDS_SF100TCL"."ITEM"\n                group by 1\n                \n                ),\n                \n                \n                explore_table_row_count_REASON as (\n                select \n                \'REASON\' as table_name,\n                count(*) as row_count\n                from "SNOWFLAKE_SAMPLE_DATA"."TPCDS_SF100TCL"."REASON"\n                group by 1\n                \n                ),\n                \n                \n                explore_table_row_count_STORE as (\n                select \n                \'STORE\' as table_name,\n                count(*) as row_count\n                from "SNOWFLAKE_SAMPLE_DATA"."TPCDS_SF100TCL"."STORE"\n                group by 1\n                \n                ),\n                \n                \n                merge_counts as (\n                \n                select * from explore_table_row_count_ITEM\n                union all\n                \n                select * from explore_table_row_count_REASON\n                union all\n                \n                select * from explore_table_row_count_STORE\n                \n                \n                \n                ),\n                \n                pks as (\n                    select \n                    table_name as pk_table_name,\n                    column_name as pk_column_name,\n                    rtrim(column_name, \'_PK\') as pk_sk\n                    from source\n                    where column_name ilike \'%pk%\'\n                ),\n                fks as (\n                    select\n                    table_name as fk_table_name,\n                    column_name as fk_column_name,\n                    rtrim(column_name, \'_FK\') as fk_sk\n                    from source\n                    where column_name ilike \'%fk%\'\n                ),\n                \n                joined as (\n                select \n                \'ITEM\' as parent_table_name,\n                pk_table_name,\n                pk_column_name,\n                fk_table_name,\n                fk_column_name,\n                merge_counts_pk.row_count as pk_row_count,\n                merge_counts_fk.row_count as fk_row_count,\n                merge_counts_parent.row_count as parent_row_count,\n                case when merge_counts_pk.row_count > merge_counts_fk.row_count\n                        then \'many_to_one\'   \n                    when merge_counts_pk.row_count < merge_counts_fk.row_count\n                        then \'one_to_many\'\n                    when merge_counts_pk.row_count = merge_counts_fk.row_count\n                        then \'one_to_one\'\n                end as true_relationship,\n                case when merge_counts_pk.row_count < merge_counts_parent.row_count\n                    and merge_counts_fk.row_count < merge_counts_parent.row_count\n                    or  merge_counts_pk.row_count != merge_counts_parent.row_count\n                    and  merge_counts_fk.row_count != merge_counts_parent.row_count\n                        then \'many_to_one\'\n                    when merge_counts_pk.row_count > merge_counts_parent.row_count\n                        then \'one_to_many\'\n                    when merge_counts_fk.row_count > merge_counts_parent.row_count\n                        then \'one_to_many\'\n                    when merge_counts_pk.row_count = merge_counts_parent.row_count\n                    or merge_counts_fk.row_count = merge_counts_parent.row_count\n                        then \'one_to_one\'                \n                        \n                end as looker_relationship\n                    \n                    \n                \n                \n                from pks\n                join fks on pks.pk_sk = fks.fk_sk\n                left join merge_counts as merge_counts_fk on merge_counts_fk.table_name = fks.fk_table_name\n                left join merge_counts as merge_counts_pk on merge_counts_pk.table_name = pks.pk_table_name\n                left join merge_counts as merge_counts_parent on merge_counts_parent.table_name = \'ITEM\'\n                order by looker_relationship\n                \n                )\n                \n                select * from joined\n                \n                '

In [20]:
explore_df

Empty DataFrame
Columns: [parent_table_name, pk_table_name, pk_column_name, fk_table_name, fk_column_name, pk_row_count, fk_row_count, parent_row_count, true_relationship, looker_relationship]
Index: []

In [12]:
explore_sql

'\n                with source as (\n                select \n                *\n                from "SNOWFLAKE_SAMPLE_DATA"."INFORMATION_SCHEMA"."COLUMNS"\n                ),\n                row_counts as (\n                select\n                    table_name,\n                    sum(row_count) as row_count\n                from "SNOWFLAKE_SAMPLE_DATA"."INFORMATION_SCHEMA"."TABLES"\n                group by 1\n                ),\n                pks as (\n                    select \n                    table_name as pk_table_name,\n                    column_name as pk_column_name,\n                    rtrim(column_name, \'_PK\') as pk_sk\n                    from source\n                    where column_name ilike \'%pk%\'\n                ),\n                fks as (\n                    select\n                    table_name as fk_table_name,\n                    column_name as fk_column_name,\n                    rtrim(column_name, \'_FK\') as fk_sk\n                    from source\n                    where column_name ilike \'%fk%\'\n                )\n                select \n                pk_table_name,\n                pk_column_name,\n                fk_table_name,\n                fk_column_name,\n                case when merge_counts_pk.row_count > merge_counts_fk.row_count\n                        then \'belongsTo\'   \n                    when merge_counts_pk.row_count < merge_counts_fk.row_count\n                        then \'hasMany\'\n                    when merge_counts_pk.row_count = merge_counts_fk.row_count\n                        then \'HasOne\'\n                end as true_relationship\n                \n                from pks\n                left join fks on pks.pk_sk = fks.fk_sk\n                left join row_counts as merge_counts_fk on merge_counts_fk.table_name = fks.fk_table_name\n                left join row_counts as merge_counts_pk on merge_counts_pk.table_name = pks.pk_table_name\n                '

In [6]:
query

'\n                with source as (\n                select \n                *\n                from "%(database_1)s"."INFORMATION_SCHEMA"."COLUMNS"\n                where table_name in \n                (%(inclause_2)s,%(inclause_3)s,%(inclause_4)s)\n                \n                ),\n                \n                \n                explore_table_row_count_ITEM as (\n                select \n                \'ITEM\' as table_name,\n                count(*) as row_count\n                from "%(database_5)s"."%(schema_id_6)s"."ITEM"\n                group by 1\n                \n                ),\n                \n                \n                explore_table_row_count_REASON as (\n                select \n                \'REASON\' as table_name,\n                count(*) as row_count\n                from "%(database_7)s"."%(schema_id_8)s"."REASON"\n                group by 1\n                \n                ),\n                \n                \n                explore_table_row_count_STORE as (\n                select \n                \'STORE\' as table_name,\n                count(*) as row_count\n                from "%(database_9)s"."%(schema_id_10)s"."STORE"\n                group by 1\n                \n                ),\n                \n                \n                merge_counts as (\n                \n                select * from explore_table_row_count_ITEM\n                union all\n                \n                select * from explore_table_row_count_REASON\n                union all\n                \n                select * from explore_table_row_count_STORE\n                \n                \n                \n                ),\n                \n                pks as (\n                    select \n                    table_name as pk_table_name,\n                    column_name as pk_column_name,\n                    rtrim(column_name, \'_PK\') as pk_sk\n                    from source\n                    where column_name ilike \'%%pk%%\'\n                ),\n                fks as (\n                    select\n                    table_name as fk_table_name,\n                    column_name as fk_column_name,\n                    rtrim(column_name, \'_FK\') as fk_sk\n                    from source\n                    where column_name ilike \'%%fk%%\'\n                ),\n                \n                joined as (\n                select \n                %(table_names_11)s as parent_table_name,\n                pk_table_name,\n                pk_column_name,\n                fk_table_name,\n                fk_column_name,\n                merge_counts_pk.row_count as pk_row_count,\n                merge_counts_fk.row_count as fk_row_count,\n                merge_counts_parent.row_count as parent_row_count,\n                case when merge_counts_pk.row_count > merge_counts_fk.row_count\n                        then \'many_to_one\'   \n                    when merge_counts_pk.row_count < merge_counts_fk.row_count\n                        then \'one_to_many\'\n                    when merge_counts_pk.row_count = merge_counts_fk.row_count\n                        then \'one_to_one\'\n                end as true_relationship,\n                case when merge_counts_pk.row_count < merge_counts_parent.row_count\n                    and merge_counts_fk.row_count < merge_counts_parent.row_count\n                    or  merge_counts_pk.row_count != merge_counts_parent.row_count\n                    and  merge_counts_fk.row_count != merge_counts_parent.row_count\n                        then \'many_to_one\'\n                    when merge_counts_pk.row_count > merge_counts_parent.row_count\n                        then \'one_to_many\'\n                    when merge_counts_fk.row_count > merge_counts_parent.row_count\n                        then \'one_to_many\'\n                    when merge_counts_pk.row_count = merge_counts_parent.row_count\n                    or merge_counts_fk.row_count = merge_counts_parent.row_count\n                        then \'one_to_one\'                \n                        \n                end as looker_relationship\n                    \n                    \n                \n                \n                from pks\n                join fks on pks.pk_sk = fks.fk_sk\n                left join merge_counts as merge_counts_fk on merge_counts_fk.table_name = fks.fk_table_name\n                left join merge_counts as merge_counts_pk on merge_counts_pk.table_name = pks.pk_table_name\n                left join merge_counts as merge_counts_parent on merge_counts_parent.table_name = %(table_names_12)s\n                order by looker_relationship\n                \n                )\n                \n                select * from joined\n                \n                '

In [21]:
import lkml as looker
from pprint import pprint
from google.oauth2 import service_account
import pandas_gbq
from contextlib import redirect_stdout
import snowflake.connector
from sqlalchemy import create_engine
from snowflake.sqlalchemy import URL
import pandas as pd
import pandas
import os
import json
import sys
import yaml

from droughty import warehouse_target
from droughty import config

import git

pd.options.mode.chained_assignment = None

credentials = config.service_account

warehouse_name = config.warehouse_name
lookml_project = config.project_name

sql = warehouse_target.warehouse_schema
explore_sql = warehouse_target.explore_sql

if warehouse_name == 'big_query':

    # Run a Standard SQL query with the project set explicitly
    project_id = lookml_project
    df = pandas.read_gbq(sql, dialect='standard', project_id=lookml_project, credentials=credentials)

    df['description'] = df['description'].fillna('not available')

    df1 = df[['table_name','column_name','data_type','description']]

    df1['data_type'] = df1['data_type'].str.replace('TIMESTAMP','time')
    df1['data_type'] = df1['data_type'].str.replace('DATE','time')
    df1['data_type'] = df1['data_type'].str.replace('INT64','number')
    df1['data_type'] = df1['data_type'].str.replace('FLOAT64','number')
    df1['data_type'] = df1['data_type'].str.replace('NUMERIC','number')
    df1['data_type'] = df1['data_type'].str.replace('STRING','string')
    df1['data_type'] = df1['data_type'].str.replace('BOOL','boolean')

    df2 = df1

    explore_df = pandas.read_gbq(explore_sql, dialect='standard', project_id=lookml_project, credentials=credentials)

    explore_df_2 = explore_df[['parent_table_name','pk_table_name', 'pk_column_name','fk_table_name','fk_column_name','looker_relationship']]

    pk_table_name_df = explore_df[['pk_table_name']]

    duplicate_explore_rows = pk_table_name_df[pk_table_name_df.duplicated(['pk_table_name'])]

    distinct_duplicate_explore_rows = duplicate_explore_rows['pk_table_name'].drop_duplicates().to_list()

elif warehouse_name == 'snowflake': 

    url = URL(

        account = config.snowflake_account,
        user =  config.snowflake_user,
        schema =  config.snowflake_schema,
        database =  config.snowflake_database,
        password =  config.snowflake_password,
        warehouse= config.snowflake_warehouse,
        role =  config.snowflake_role

    )

    engine = create_engine(url)

    connection = engine.connect()

    df = pd.read_sql(sql, connection)
    
    df['description'] = df['comment'].fillna('not available')

    df1 = df[['table_name','column_name','data_type','description']]

    df1['data_type'] = df1['data_type'].str.replace('TIMESTAMP','time')
    df1['data_type'] = df1['data_type'].str.replace('TIMESTAMP_TZ','time')
    df1['data_type'] = df1['data_type'].str.replace('TIMESTAMP_NTZ','time')
    df1['data_type'] = df1['data_type'].str.replace('DATE','time')
    df1['data_type'] = df1['data_type'].str.replace('INT64','number')
    df1['data_type'] = df1['data_type'].str.replace('FLOAT64','number')
    df1['data_type'] = df1['data_type'].str.replace('NUMERIC','number')
    df1['data_type'] = df1['data_type'].str.replace('NUMBER','number')
    df1['data_type'] = df1['data_type'].str.replace('FLOAT','number')
    df1['data_type'] = df1['data_type'].str.replace('TEXT','string')
    df1['data_type'] = df1['data_type'].str.replace('VARIANT','string')   
    df1['data_type'] = df1['data_type'].str.replace('BOOLEAN','boolean')

    df['column_name'] = df['column_name'].str.lower()
    df['table_name'] = df['table_name'].str.lower()
    df['description'] = df['description'].str.lower()

    df1 = df.groupby(['table_name', 'column_name','data_type','description']).size().reset_index().rename(columns={0:'count'})

    df1 = df1[['table_name','column_name','data_type','description']]

    df2 = df1

    connection.close()
    engine.dispose()

    
df3 = {n: grp.loc[n].to_dict('index')
    
for n, grp in df2.set_index(['table_name', 'column_name','data_type','description']).groupby(level='table_name')}

d1 = df3

def recur_dictify(frame):
    if len(frame.columns) == 1:
        if frame.values.size == 1: return frame.values[0][0]
        return frame.values.squeeze()
    grouped = frame.groupby(frame.columns[0])
    d = {k: recur_dictify(g.iloc[:,1:]) for k,g in grouped}
    return d

In [22]:
d1

{'call_center': {('cc_call_center_id', 'TEXT', 'not available'): {},
  ('cc_call_center_sk', 'NUMBER', 'not available'): {},
  ('cc_city', 'TEXT', 'not available'): {},
  ('cc_class', 'TEXT', 'not available'): {},
  ('cc_closed_date_sk', 'NUMBER', 'not available'): {},
  ('cc_company', 'NUMBER', 'not available'): {},
  ('cc_company_name', 'TEXT', 'not available'): {},
  ('cc_country', 'TEXT', 'not available'): {},
  ('cc_county', 'TEXT', 'not available'): {},
  ('cc_division', 'NUMBER', 'not available'): {},
  ('cc_division_name', 'TEXT', 'not available'): {},
  ('cc_employees', 'NUMBER', 'not available'): {},
  ('cc_gmt_offset', 'NUMBER', 'not available'): {},
  ('cc_hours', 'TEXT', 'not available'): {},
  ('cc_manager', 'TEXT', 'not available'): {},
  ('cc_market_manager', 'TEXT', 'not available'): {},
  ('cc_mkt_class', 'TEXT', 'not available'): {},
  ('cc_mkt_desc', 'TEXT', 'not available'): {},
  ('cc_mkt_id', 'NUMBER', 'not available'): {},
  ('cc_name', 'TEXT', 'not available'): {},
  ('cc_open_date_sk', 'NUMBER', 'not available'): {},
  ('cc_rec_end_date', 'DATE', 'not available'): {},
  ('cc_rec_start_date', 'DATE', 'not available'): {},
  ('cc_sq_ft', 'NUMBER', 'not available'): {},
  ('cc_state', 'TEXT', 'not available'): {},
  ('cc_street_name', 'TEXT', 'not available'): {},
  ('cc_street_number', 'TEXT', 'not available'): {},
  ('cc_street_type', 'TEXT', 'not available'): {},
  ('cc_suite_number', 'TEXT', 'not available'): {},
  ('cc_tax_percentage', 'NUMBER', 'not available'): {},
  ('cc_zip', 'TEXT', 'not available'): {}},
 'catalog_page': {('cp_catalog_number', 'NUMBER', 'not available'): {},
  ('cp_catalog_page_id', 'TEXT', 'not available'): {},
  ('cp_catalog_page_number', 'NUMBER', 'not available'): {},
  ('cp_catalog_page_sk', 'NUMBER', 'not available'): {},
  ('cp_department', 'TEXT', 'not available'): {},
  ('cp_description', 'TEXT', 'not available'): {},
  ('cp_end_date_sk', 'NUMBER', 'not available'): {},
  ('cp_start_date_sk', 'NUMBER', 'not available'): {},
  ('cp_type', 'TEXT', 'not available'): {}},
 'catalog_returns': {('cr_call_center_sk', 'NUMBER', 'not available'): {},
  ('cr_catalog_page_sk', 'NUMBER', 'not available'): {},
  ('cr_fee', 'NUMBER', 'not available'): {},
  ('cr_item_sk', 'NUMBER', 'not available'): {},
  ('cr_net_loss', 'NUMBER', 'not available'): {},
  ('cr_order_number', 'NUMBER', 'not available'): {},
  ('cr_reason_sk', 'NUMBER', 'not available'): {},
  ('cr_refunded_addr_sk', 'NUMBER', 'not available'): {},
  ('cr_refunded_cash', 'NUMBER', 'not available'): {},
  ('cr_refunded_cdemo_sk', 'NUMBER', 'not available'): {},
  ('cr_refunded_customer_sk', 'NUMBER', 'not available'): {},
  ('cr_refunded_hdemo_sk', 'NUMBER', 'not available'): {},
  ('cr_return_amount', 'NUMBER', 'not available'): {},
  ('cr_return_amt_inc_tax', 'NUMBER', 'not available'): {},
  ('cr_return_quantity', 'NUMBER', 'not available'): {},
  ('cr_return_ship_cost', 'NUMBER', 'not available'): {},
  ('cr_return_tax', 'NUMBER', 'not available'): {},
  ('cr_returned_date_sk', 'NUMBER', 'not available'): {},
  ('cr_returned_time_sk', 'NUMBER', 'not available'): {},
  ('cr_returning_addr_sk', 'NUMBER', 'not available'): {},
  ('cr_returning_cdemo_sk', 'NUMBER', 'not available'): {},
  ('cr_returning_customer_sk', 'NUMBER', 'not available'): {},
  ('cr_returning_hdemo_sk', 'NUMBER', 'not available'): {},
  ('cr_reversed_charge', 'NUMBER', 'not available'): {},
  ('cr_ship_mode_sk', 'NUMBER', 'not available'): {},
  ('cr_store_credit', 'NUMBER', 'not available'): {},
  ('cr_warehouse_sk', 'NUMBER', 'not available'): {}},
 'catalog_sales': {('cs_bill_addr_sk', 'NUMBER', 'not available'): {},
  ('cs_bill_cdemo_sk', 'NUMBER', 'not available'): {},
  ('cs_bill_customer_sk', 'NUMBER', 'not available'): {},
  ('cs_bill_hdemo_sk', 'NUMBER', 'not available'): {},
  ('cs_call_center_sk', 'NUMBER', 'not available'): {},
  ('cs_catalog_page_sk', 'NUMBER', 'not available'): {},
  ('cs_coupon_amt', 'NUMBER', 'not available'): {},
  ('cs_ext_discount_amt', 'NUMBER', 'not available'): {},
  ('cs_ext_list_price', 'NUMBER', 'not available'): {},
  ('cs_ext_sales_price', 'NUMBER', 'not available'): {},
  ('cs_ext_ship_cost', 'NUMBER', 'not available'): {},
  ('cs_ext_tax', 'NUMBER', 'not available'): {},
  ('cs_ext_wholesale_cost', 'NUMBER', 'not available'): {},
  ('cs_item_sk', 'NUMBER', 'not available'): {},
  ('cs_list_price', 'NUMBER', 'not available'): {},
  ('cs_net_paid', 'NUMBER', 'not available'): {},
  ('cs_net_paid_inc_ship', 'NUMBER', 'not available'): {},
  ('cs_net_paid_inc_ship_tax', 'NUMBER', 'not available'): {},
  ('cs_net_paid_inc_tax', 'NUMBER', 'not available'): {},
  ('cs_net_profit', 'NUMBER', 'not available'): {},
  ('cs_order_number', 'NUMBER', 'not available'): {},
  ('cs_promo_sk', 'NUMBER', 'not available'): {},
  ('cs_quantity', 'NUMBER', 'not available'): {},
  ('cs_sales_price', 'NUMBER', 'not available'): {},
  ('cs_ship_addr_sk', 'NUMBER', 'not available'): {},
  ('cs_ship_cdemo_sk', 'NUMBER', 'not available'): {},
  ('cs_ship_customer_sk', 'NUMBER', 'not available'): {},
  ('cs_ship_date_sk', 'NUMBER', 'not available'): {},
  ('cs_ship_hdemo_sk', 'NUMBER', 'not available'): {},
  ('cs_ship_mode_sk', 'NUMBER', 'not available'): {},
  ('cs_sold_date_sk', 'NUMBER', 'not available'): {},
  ('cs_sold_time_sk', 'NUMBER', 'not available'): {},
  ('cs_warehouse_sk', 'NUMBER', 'not available'): {},
  ('cs_wholesale_cost', 'NUMBER', 'not available'): {}},
 'customer': {('c_birth_country', 'TEXT', 'not available'): {},
  ('c_birth_day', 'NUMBER', 'not available'): {},
  ('c_birth_month', 'NUMBER', 'not available'): {},
  ('c_birth_year', 'NUMBER', 'not available'): {},
  ('c_current_addr_sk', 'NUMBER', 'not available'): {},
  ('c_current_cdemo_sk', 'NUMBER', 'not available'): {},
  ('c_current_hdemo_sk', 'NUMBER', 'not available'): {},
  ('c_customer_id', 'TEXT', 'not available'): {},
  ('c_customer_sk', 'NUMBER', 'not available'): {},
  ('c_email_address', 'TEXT', 'not available'): {},
  ('c_first_name', 'TEXT', 'not available'): {},
  ('c_first_sales_date_sk', 'NUMBER', 'not available'): {},
  ('c_first_shipto_date_sk', 'NUMBER', 'not available'): {},
  ('c_last_name', 'TEXT', 'not available'): {},
  ('c_last_review_date', 'TEXT', 'not available'): {},
  ('c_login', 'TEXT', 'not available'): {},
  ('c_preferred_cust_flag', 'TEXT', 'not available'): {},
  ('c_salutation', 'TEXT', 'not available'): {}},
 'customer_address': {('ca_address_id', 'TEXT', 'not available'): {},
  ('ca_address_sk', 'NUMBER', 'not available'): {},
  ('ca_city', 'TEXT', 'not available'): {},
  ('ca_country', 'TEXT', 'not available'): {},
  ('ca_county', 'TEXT', 'not available'): {},
  ('ca_gmt_offset', 'NUMBER', 'not available'): {},
  ('ca_location_type', 'TEXT', 'not available'): {},
  ('ca_state', 'TEXT', 'not available'): {},
  ('ca_street_name', 'TEXT', 'not available'): {},
  ('ca_street_number', 'TEXT', 'not available'): {},
  ('ca_street_type', 'TEXT', 'not available'): {},
  ('ca_suite_number', 'TEXT', 'not available'): {},
  ('ca_zip', 'TEXT', 'not available'): {}},
 'customer_demographics': {('cd_credit_rating', 'TEXT', 'not available'): {},
  ('cd_demo_sk', 'NUMBER', 'not available'): {},
  ('cd_dep_college_count', 'NUMBER', 'not available'): {},
  ('cd_dep_count', 'NUMBER', 'not available'): {},
  ('cd_dep_employed_count', 'NUMBER', 'not available'): {},
  ('cd_education_status', 'TEXT', 'not available'): {},
  ('cd_gender', 'TEXT', 'not available'): {},
  ('cd_marital_status', 'TEXT', 'not available'): {},
  ('cd_purchase_estimate', 'NUMBER', 'not available'): {}},
 'date_dim': {('d_current_day', 'TEXT', 'not available'): {},
  ('d_current_month', 'TEXT', 'not available'): {},
  ('d_current_quarter', 'TEXT', 'not available'): {},
  ('d_current_week', 'TEXT', 'not available'): {},
  ('d_current_year', 'TEXT', 'not available'): {},
  ('d_date', 'DATE', 'not available'): {},
  ('d_date_id', 'TEXT', 'not available'): {},
  ('d_date_sk', 'NUMBER', 'not available'): {},
  ('d_day_name', 'TEXT', 'not available'): {},
  ('d_dom', 'NUMBER', 'not available'): {},
  ('d_dow', 'NUMBER', 'not available'): {},
  ('d_first_dom', 'NUMBER', 'not available'): {},
  ('d_following_holiday', 'TEXT', 'not available'): {},
  ('d_fy_quarter_seq', 'NUMBER', 'not available'): {},
  ('d_fy_week_seq', 'NUMBER', 'not available'): {},
  ('d_fy_year', 'NUMBER', 'not available'): {},
  ('d_holiday', 'TEXT', 'not available'): {},
  ('d_last_dom', 'NUMBER', 'not available'): {},
  ('d_month_seq', 'NUMBER', 'not available'): {},
  ('d_moy', 'NUMBER', 'not available'): {},
  ('d_qoy', 'NUMBER', 'not available'): {},
  ('d_quarter_name', 'TEXT', 'not available'): {},
  ('d_quarter_seq', 'NUMBER', 'not available'): {},
  ('d_same_day_lq', 'NUMBER', 'not available'): {},
  ('d_same_day_ly', 'NUMBER', 'not available'): {},
  ('d_week_seq', 'NUMBER', 'not available'): {},
  ('d_weekend', 'TEXT', 'not available'): {},
  ('d_year', 'NUMBER', 'not available'): {}},
 'household_demographics': {('hd_buy_potential', 'TEXT', 'not available'): {},
  ('hd_demo_sk', 'NUMBER', 'not available'): {},
  ('hd_dep_count', 'NUMBER', 'not available'): {},
  ('hd_income_band_sk', 'NUMBER', 'not available'): {},
  ('hd_vehicle_count', 'NUMBER', 'not available'): {}},
 'income_band': {('ib_income_band_sk', 'NUMBER', 'not available'): {},
  ('ib_lower_bound', 'NUMBER', 'not available'): {},
  ('ib_upper_bound', 'NUMBER', 'not available'): {}},
 'inventory': {('inv_date_sk', 'NUMBER', 'not available'): {},
  ('inv_item_sk', 'NUMBER', 'not available'): {},
  ('inv_quantity_on_hand', 'NUMBER', 'not available'): {},
  ('inv_warehouse_sk', 'NUMBER', 'not available'): {}},
 'item': {('i_brand', 'TEXT', 'not available'): {},
  ('i_brand_id', 'NUMBER', 'not available'): {},
  ('i_category', 'TEXT', 'not available'): {},
  ('i_category_id', 'NUMBER', 'not available'): {},
  ('i_class', 'TEXT', 'not available'): {},
  ('i_class_id', 'NUMBER', 'not available'): {},
  ('i_color', 'TEXT', 'not available'): {},
  ('i_container', 'TEXT', 'not available'): {},
  ('i_current_price', 'NUMBER', 'not available'): {},
  ('i_formulation', 'TEXT', 'not available'): {},
  ('i_item_desc', 'TEXT', 'not available'): {},
  ('i_item_id', 'TEXT', 'not available'): {},
  ('i_item_sk', 'NUMBER', 'not available'): {},
  ('i_manager_id', 'NUMBER', 'not available'): {},
  ('i_manufact', 'TEXT', 'not available'): {},
  ('i_manufact_id', 'NUMBER', 'not available'): {},
  ('i_product_name', 'TEXT', 'not available'): {},
  ('i_rec_end_date', 'DATE', 'not available'): {},
  ('i_rec_start_date', 'DATE', 'not available'): {},
  ('i_size', 'TEXT', 'not available'): {},
  ('i_units', 'TEXT', 'not available'): {},
  ('i_wholesale_cost', 'NUMBER', 'not available'): {}},
 'promotion': {('p_channel_catalog', 'TEXT', 'not available'): {},
  ('p_channel_demo', 'TEXT', 'not available'): {},
  ('p_channel_details', 'TEXT', 'not available'): {},
  ('p_channel_dmail', 'TEXT', 'not available'): {},
  ('p_channel_email', 'TEXT', 'not available'): {},
  ('p_channel_event', 'TEXT', 'not available'): {},
  ('p_channel_press', 'TEXT', 'not available'): {},
  ('p_channel_radio', 'TEXT', 'not available'): {},
  ('p_channel_tv', 'TEXT', 'not available'): {},
  ('p_cost', 'NUMBER', 'not available'): {},
  ('p_discount_active', 'TEXT', 'not available'): {},
  ('p_end_date_sk', 'NUMBER', 'not available'): {},
  ('p_item_sk', 'NUMBER', 'not available'): {},
  ('p_promo_id', 'TEXT', 'not available'): {},
  ('p_promo_name', 'TEXT', 'not available'): {},
  ('p_promo_sk', 'NUMBER', 'not available'): {},
  ('p_purpose', 'TEXT', 'not available'): {},
  ('p_response_target', 'NUMBER', 'not available'): {},
  ('p_start_date_sk', 'NUMBER', 'not available'): {}},
 'reason': {('r_reason_desc', 'TEXT', 'not available'): {},
  ('r_reason_id', 'TEXT', 'not available'): {},
  ('r_reason_sk', 'NUMBER', 'not available'): {}},
 'ship_mode': {('sm_carrier', 'TEXT', 'not available'): {},
  ('sm_code', 'TEXT', 'not available'): {},
  ('sm_contract', 'TEXT', 'not available'): {},
  ('sm_ship_mode_id', 'TEXT', 'not available'): {},
  ('sm_ship_mode_sk', 'NUMBER', 'not available'): {},
  ('sm_type', 'TEXT', 'not available'): {}},
 'store': {('s_city', 'TEXT', 'not available'): {},
  ('s_closed_date_sk', 'NUMBER', 'not available'): {},
  ('s_company_id', 'NUMBER', 'not available'): {},
  ('s_company_name', 'TEXT', 'not available'): {},
  ('s_country', 'TEXT', 'not available'): {},
  ('s_county', 'TEXT', 'not available'): {},
  ('s_division_id', 'NUMBER', 'not available'): {},
  ('s_division_name', 'TEXT', 'not available'): {},
  ('s_floor_space', 'NUMBER', 'not available'): {},
  ('s_geography_class', 'TEXT', 'not available'): {},
  ('s_gmt_offset', 'NUMBER', 'not available'): {},
  ('s_hours', 'TEXT', 'not available'): {},
  ('s_manager', 'TEXT', 'not available'): {},
  ('s_market_desc', 'TEXT', 'not available'): {},
  ('s_market_id', 'NUMBER', 'not available'): {},
  ('s_market_manager', 'TEXT', 'not available'): {},
  ('s_number_employees', 'NUMBER', 'not available'): {},
  ('s_rec_end_date', 'DATE', 'not available'): {},
  ('s_rec_start_date', 'DATE', 'not available'): {},
  ('s_state', 'TEXT', 'not available'): {},
  ('s_store_id', 'TEXT', 'not available'): {},
  ('s_store_name', 'TEXT', 'not available'): {},
  ('s_store_sk', 'NUMBER', 'not available'): {},
  ('s_street_name', 'TEXT', 'not available'): {},
  ('s_street_number', 'TEXT', 'not available'): {},
  ('s_street_type', 'TEXT', 'not available'): {},
  ('s_suite_number', 'TEXT', 'not available'): {},
  ('s_tax_precentage', 'NUMBER', 'not available'): {},
  ('s_zip', 'TEXT', 'not available'): {}},
 'store_returns': {('sr_addr_sk', 'NUMBER', 'not available'): {},
  ('sr_cdemo_sk', 'NUMBER', 'not available'): {},
  ('sr_customer_sk', 'NUMBER', 'not available'): {},
  ('sr_fee', 'NUMBER', 'not available'): {},
  ('sr_hdemo_sk', 'NUMBER', 'not available'): {},
  ('sr_item_sk', 'NUMBER', 'not available'): {},
  ('sr_net_loss', 'NUMBER', 'not available'): {},
  ('sr_reason_sk', 'NUMBER', 'not available'): {},
  ('sr_refunded_cash', 'NUMBER', 'not available'): {},
  ('sr_return_amt', 'NUMBER', 'not available'): {},
  ('sr_return_amt_inc_tax', 'NUMBER', 'not available'): {},
  ('sr_return_quantity', 'NUMBER', 'not available'): {},
  ('sr_return_ship_cost', 'NUMBER', 'not available'): {},
  ('sr_return_tax', 'NUMBER', 'not available'): {},
  ('sr_return_time_sk', 'NUMBER', 'not available'): {},
  ('sr_returned_date_sk', 'NUMBER', 'not available'): {},
  ('sr_reversed_charge', 'NUMBER', 'not available'): {},
  ('sr_store_credit', 'NUMBER', 'not available'): {},
  ('sr_store_sk', 'NUMBER', 'not available'): {},
  ('sr_ticket_number', 'NUMBER', 'not available'): {}},
 'store_sales': {('ss_addr_sk', 'NUMBER', 'not available'): {},
  ('ss_cdemo_sk', 'NUMBER', 'not available'): {},
  ('ss_coupon_amt', 'NUMBER', 'not available'): {},
  ('ss_customer_sk', 'NUMBER', 'not available'): {},
  ('ss_ext_discount_amt', 'NUMBER', 'not available'): {},
  ('ss_ext_list_price', 'NUMBER', 'not available'): {},
  ('ss_ext_sales_price', 'NUMBER', 'not available'): {},
  ('ss_ext_tax', 'NUMBER', 'not available'): {},
  ('ss_ext_wholesale_cost', 'NUMBER', 'not available'): {},
  ('ss_hdemo_sk', 'NUMBER', 'not available'): {},
  ('ss_item_sk', 'NUMBER', 'not available'): {},
  ('ss_list_price', 'NUMBER', 'not available'): {},
  ('ss_net_paid', 'NUMBER', 'not available'): {},
  ('ss_net_paid_inc_tax', 'NUMBER', 'not available'): {},
  ('ss_net_profit', 'NUMBER', 'not available'): {},
  ('ss_promo_sk', 'NUMBER', 'not available'): {},
  ('ss_quantity', 'NUMBER', 'not available'): {},
  ('ss_sales_price', 'NUMBER', 'not available'): {},
  ('ss_sold_date_sk', 'NUMBER', 'not available'): {},
  ('ss_sold_time_sk', 'NUMBER', 'not available'): {},
  ('ss_store_sk', 'NUMBER', 'not available'): {},
  ('ss_ticket_number', 'NUMBER', 'not available'): {},
  ('ss_wholesale_cost', 'NUMBER', 'not available'): {}},
 'time_dim': {('t_am_pm', 'TEXT', 'not available'): {},
  ('t_hour', 'NUMBER', 'not available'): {},
  ('t_meal_time', 'TEXT', 'not available'): {},
  ('t_minute', 'NUMBER', 'not available'): {},
  ('t_second', 'NUMBER', 'not available'): {},
  ('t_shift', 'TEXT', 'not available'): {},
  ('t_sub_shift', 'TEXT', 'not available'): {},
  ('t_time', 'NUMBER', 'not available'): {},
  ('t_time_id', 'TEXT', 'not available'): {},
  ('t_time_sk', 'NUMBER', 'not available'): {}},
 'warehouse': {('w_city', 'TEXT', 'not available'): {},
  ('w_country', 'TEXT', 'not available'): {},
  ('w_county', 'TEXT', 'not available'): {},
  ('w_gmt_offset', 'NUMBER', 'not available'): {},
  ('w_state', 'TEXT', 'not available'): {},
  ('w_street_name', 'TEXT', 'not available'): {},
  ('w_street_number', 'TEXT', 'not available'): {},
  ('w_street_type', 'TEXT', 'not available'): {},
  ('w_suite_number', 'TEXT', 'not available'): {},
  ('w_warehouse_id', 'TEXT', 'not available'): {},
  ('w_warehouse_name', 'TEXT', 'not available'): {},
  ('w_warehouse_sk', 'NUMBER', 'not available'): {},
  ('w_warehouse_sq_ft', 'NUMBER', 'not available'): {},
  ('w_zip', 'TEXT', 'not available'): {}},
 'web_page': {('wp_access_date_sk', 'NUMBER', 'not available'): {},
  ('wp_autogen_flag', 'TEXT', 'not available'): {},
  ('wp_char_count', 'NUMBER', 'not available'): {},
  ('wp_creation_date_sk', 'NUMBER', 'not available'): {},
  ('wp_customer_sk', 'NUMBER', 'not available'): {},
  ('wp_image_count', 'NUMBER', 'not available'): {},
  ('wp_link_count', 'NUMBER', 'not available'): {},
  ('wp_max_ad_count', 'NUMBER', 'not available'): {},
  ('wp_rec_end_date', 'DATE', 'not available'): {},
  ('wp_rec_start_date', 'DATE', 'not available'): {},
  ('wp_type', 'TEXT', 'not available'): {},
  ('wp_url', 'TEXT', 'not available'): {},
  ('wp_web_page_id', 'TEXT', 'not available'): {},
  ('wp_web_page_sk', 'NUMBER', 'not available'): {}},
 'web_returns': {('wr_account_credit', 'NUMBER', 'not available'): {},
  ('wr_fee', 'NUMBER', 'not available'): {},
  ('wr_item_sk', 'NUMBER', 'not available'): {},
  ('wr_net_loss', 'NUMBER', 'not available'): {},
  ('wr_order_number', 'NUMBER', 'not available'): {},
  ('wr_reason_sk', 'NUMBER', 'not available'): {},
  ('wr_refunded_addr_sk', 'NUMBER', 'not available'): {},
  ('wr_refunded_cash', 'NUMBER', 'not available'): {},
  ('wr_refunded_cdemo_sk', 'NUMBER', 'not available'): {},
  ('wr_refunded_customer_sk', 'NUMBER', 'not available'): {},
  ('wr_refunded_hdemo_sk', 'NUMBER', 'not available'): {},
  ('wr_return_amt', 'NUMBER', 'not available'): {},
  ('wr_return_amt_inc_tax', 'NUMBER', 'not available'): {},
  ('wr_return_quantity', 'NUMBER', 'not available'): {},
  ('wr_return_ship_cost', 'NUMBER', 'not available'): {},
  ('wr_return_tax', 'NUMBER', 'not available'): {},
  ('wr_returned_date_sk', 'NUMBER', 'not available'): {},
  ('wr_returned_time_sk', 'NUMBER', 'not available'): {},
  ('wr_returning_addr_sk', 'NUMBER', 'not available'): {},
  ('wr_returning_cdemo_sk', 'NUMBER', 'not available'): {},
  ('wr_returning_customer_sk', 'NUMBER', 'not available'): {},
  ('wr_returning_hdemo_sk', 'NUMBER', 'not available'): {},
  ('wr_reversed_charge', 'NUMBER', 'not available'): {},
  ('wr_web_page_sk', 'NUMBER', 'not available'): {}},
 'web_sales': {('ws_bill_addr_sk', 'NUMBER', 'not available'): {},
  ('ws_bill_cdemo_sk', 'NUMBER', 'not available'): {},
  ('ws_bill_customer_sk', 'NUMBER', 'not available'): {},
  ('ws_bill_hdemo_sk', 'NUMBER', 'not available'): {},
  ('ws_coupon_amt', 'NUMBER', 'not available'): {},
  ('ws_ext_discount_amt', 'NUMBER', 'not available'): {},
  ('ws_ext_list_price', 'NUMBER', 'not available'): {},
  ('ws_ext_sales_price', 'NUMBER', 'not available'): {},
  ('ws_ext_ship_cost', 'NUMBER', 'not available'): {},
  ('ws_ext_tax', 'NUMBER', 'not available'): {},
  ('ws_ext_wholesale_cost', 'NUMBER', 'not available'): {},
  ('ws_item_sk', 'NUMBER', 'not available'): {},
  ('ws_list_price', 'NUMBER', 'not available'): {},